.infos {
  position: relative;
  align-self: center;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  padding: 20px;
  box-shadow: 0 0 5px var(--clr-dgrey);
  max-width: 1200px;
  min-height: 150px;
  width: 90%;
  background-color: white;
  border-radius: 0.8rem;
  z-index: 99999;

  @media screen and (max-width: 800px) {
    flex-direction: column;
    height: 320px;
    min-height: auto;
    gap: 20px;
  }

  div {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 10px;
    padding-left: 30px;
    @media screen and (max-width: 800px) {
      padding-left: 0;
      text-align: center;
    }

    &::after {
      @media screen and (min-width: 800px) {
        position: absolute;
        content: "";
        width: 2px;
        height: 100%;
        left: 0;
        background-color: var(--clr-dgrey);
      }
    }

    &.ip {
      padding-left: 0;

      &::after {
        width: 0;
      }
    }

    h2 {
      font-size: 0.8rem;
      color: var(--clr-dgrey);
    }

    p {
      font-size: 1.5rem;
      font-weight: 500;
      max-width: 200px;
      @media screen and (max-width: 800px) {
        max-width: 100%;
      }
    }
  }

  .ip p {
    max-width: 100%;
  }
}
