@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

body {
  --clr-text: hsl(200, 15%, 8%);
  --clr-element: hsl(0, 0%, 100%);
  --clr-background: hsl(0, 0%, 98%);

  --lm-very-dark-blue: hsl(200, 15%, 8%);
  --lm-dark-grey: hsl(0, 0%, 52%);
  --white: hsl(0, 0%, 100%);

  --font-homepage: 14px;
  --font-details: 16px;

  --media-mobile: 375px;
  --media-desktop: 1440px;

  &[data-theme="dark"] {
    --clr-text: hsl(0, 0%, 100%);
    --clr-background: hsl(207, 26%, 17%);
    --clr-element: hsl(209, 23%, 22%);
  }

  font-size: var(--font-homepage);
  max-width: var(--media-desktop);
  margin: auto;
  background-color: var(--clr-background);
  color: var(--clr-text);
  transition: 200ms ease-in-out;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--clr-text);
}
