@use "./mixins" as *;

body[data-theme="dark"] {
  .close-modal {
    box-shadow: 0 0 4px var(--dm-very-dark-blue);
  }

  .modal__border-countries ul li {
    box-shadow: 0 0 4px var(--dm-very-dark-blue);
  }
}

.country-modal__container {
  position: fixed;
  inset: 0;
  min-height: 100vh;
  background-color: var(--clr-background);
  z-index: 99999;
  margin-top: 80px;
  overflow: scroll;
}

.country-modal {
  width: fit-content;
  display: grid;
  column-gap: clamp(20px, 4vw, 80px);
  grid-template-columns: 560px auto auto;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "btn . ."
    "flag infos additionalInfos"
    "flag borderCountries borderCountries";
  align-items: center;

  @include large {
    row-gap: 50px;
    grid-template-columns: 560px auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      "btn ."
      "flag infos"
      "flag additionalInfos"
      "flag borderCountries";
  }

  @include medium {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas:
      "btn"
      "flag"
      "infos"
      "additionalInfos"
      "borderCountries";
    margin-bottom: 150px;
  }

  .close-modal {
    grid-area: btn;
    width: fit-content;
    width: 140px;
    height: 42px;
    box-shadow: 0 0 4px var(--dark-grey);
    border-radius: 5px;
    font-weight: 400;
    font-size: 1.02rem;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    margin-block: 80px;

    @include large {
      margin-block: 80px 0px;
    }

    @include small {
      margin-block: 40px 20px;
    }

    &::before {
      content: "\f177";
      font-family: "FontAwesome";
      font-size: 1.3rem;
    }
  }

  img {
    grid-area: flag;
    width: 100%;
    object-fit: cover;
  }

  h2 {
    font-weight: 800;
    font-size: 1.8rem;
    margin-bottom: 10px;
  }

  .modal__infos,
  .modal__additional-infos {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: fit-content;

    h3 {
      font-weight: 800;
      font-size: 1rem;

      span {
        font-weight: 600;
      }
    }
  }

  .modal__infos {
    grid-area: infos;
  }

  .modal__additional-infos {
    grid-area: additionalInfos;
  }

  .modal__border-countries {
    grid-area: borderCountries;
    display: flex;
    align-items: center;
    gap: 12px;

    @include large {
      flex-direction: column;
      align-items: flex-start;
    }

    ul {
      display: flex;
      gap: 10px;
      flex-wrap: wrap;

      li {
        box-shadow: 0 0 4px var(--dark-grey);
        font-weight: 600;
        padding: 5px 20px;
        background-color: var(--clr-element);
      }
    }
  }
}
