@use "./mixins" as *;

.search-filter {
  display: flex;
  justify-content: space-between;
  gap: var(--global-inline-padding);

  @include medium {
    flex-direction: column;
    gap: 60px;
  }

  input,
  select {
    background-color: var(--clr-element);
    font-weight: 600;
    height: 50px;
    border-radius: 5px;
    border: none;
  }

  form {
    display: flex;
    align-items: center;
    max-width: 430px;
    width: 100%;

    @include medium {
      max-width: 100%;
    }

    &::before {
      position: absolute;
      content: "\f002";
      font-family: "FontAwesome";
      font-size: 1rem;
      font-weight: 400;
      padding-left: 30px;
    }

    input {
      padding-inline: 65px 30px;
      width: 100%;

      &::placeholder {
        color: var(--clr-text);
      }
    }
  }

  select {
    max-width: 200px;
    width: 100%;
    padding-inline: 20px;

    option {
      height: 30px;
      padding: 20px;
    }
  }
}
