:root {
    --light-cyan: hsl(193, 38%, 86%);
    --neon-green: hsl(150, 100%, 66%);
    --greyish-blue: hsl(217, 19%, 38%);
    --dark-greyish-blue: hsl(217, 19%, 24%);
    --dark-blue: hsl(218, 23%, 16%);
    --font-size: 28px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

body {
    max-width: 1440px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: var(--dark-blue);
}

article {
    width: 100%;
    max-width: 530px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    border-radius: 10px;
    background-color: var(--dark-greyish-blue);
}

.id {
    color: var(--neon-green);
    letter-spacing: 7px;
}

.advice {
    color: var(--light-cyan);
    font-size: var(--font-size);
}

button {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 45%;
    bottom: -10%;
    border: transparent;
    border-radius: 100%;
    background-color: var(--neon-green);
}

button:before {
    position: absolute;
    content: "";
    inset: 0;
    background: url("../assets/images/icon-dice.svg") no-repeat center;
}