@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
header {
  transition: 500ms;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: var(--clr-element);
  padding-inline: clamp(0px, 2vw, 50px);
  box-shadow: 3px 3px 5px var(--clr-background);
}
header h1 {
  font-size: clamp(1.2rem, 3vw, 1.5rem);
}
header .dark-mode-btn {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 300ms;
  font-weight: 600;
  z-index: 10;
}
header .dark-mode-btn::before {
  content: "\f186";
  font-family: "FontAwesome";
  font-size: 1rem;
  font-weight: 400;
  rotate: -20deg;
}
header .dark-mode-btn.dark::before {
  font-weight: 900;
}

:root {
  --clr-text: hsl(200, 15%, 8%);
  --clr-element: hsl(0, 0%, 100%);
  --clr-background: hsl(0, 0%, 98%);
  --lm-very-light-gray: hsl(0, 0%, 98%);
  --lm-very-dark-blue: hsl(200, 15%, 8%);
  --dm-very-dark-blue: hsl(207, 26%, 17%);
  --dark-grey: hsl(0, 0%, 52%);
  --white: hsl(0, 0%, 100%);
  --font-homepage: 14px;
  --font-details: 16px;
  --media-mobile: 375px;
  --media-tablet: 600px;
  --media-desktop: 1440px;
  --global-inline-padding: clamp(0px, 5vw, 70px);
}
:root [data-theme=dark] {
  --clr-text: hsl(0, 0%, 100%);
  --clr-background: hsl(207, 26%, 17%);
  --clr-element: hsl(209, 23%, 22%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  color: var(--clr-text);
}
*::before, *::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: auto;
  max-width: var(--media-desktop);
  min-width: var(--media-mobile);
  background-color: var(--clr-background);
  color: var(--clr-text);
  font-size: var(--font-homepage);
  transition: 200ms ease-in-out;
  min-height: 100vh;
}

header,
main,
.search-filter {
  padding-inline: clamp(0px, 5vw, 70px);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--clr-text);
}

body[data-theme=dark] .search-filter input:focus {
  outline: solid 2px var(--dark-grey);
}
body[data-theme=dark] .search-filter .options li:hover {
  background-color: var(--lm-very-light-gray);
  color: var(--dm-very-dark-blue);
}

.search-filter {
  display: flex;
  justify-content: space-between;
  gap: var(--global-inline-padding);
}
@media screen and (max-width: 600px) {
  .search-filter {
    flex-direction: column;
    gap: 60px;
  }
}
.search-filter input,
.search-filter .select {
  background-color: var(--clr-element);
  font-weight: 600;
  height: 50px;
  border-radius: 5px;
}
.search-filter form {
  display: flex;
  align-items: center;
  max-width: 430px;
  width: 100%;
}
@media screen and (max-width: 600px) {
  .search-filter form {
    max-width: 100%;
  }
}
.search-filter form::before {
  position: absolute;
  content: "\f002";
  font-family: "FontAwesome";
  font-size: 1rem;
  font-weight: 400;
  padding-left: 30px;
}
.search-filter form input {
  padding-inline: 65px 30px;
  width: 100%;
  border: none;
}
.search-filter form input:focus {
  outline: solid 2px var(--dm-very-dark-blue);
}
.search-filter form input::placeholder {
  color: var(--clr-text);
}
.search-filter .select {
  display: flex;
  align-items: center;
  position: relative;
  max-width: 200px;
  width: 100%;
  padding-inline: 20px;
  user-select: none;
  cursor: pointer;
  z-index: 50;
}
.search-filter .select .hide {
  display: none;
}
.search-filter .select .select-bg {
  position: fixed;
  inset: 0;
}
.search-filter .select::before {
  content: "\f078";
  font-family: "FontAwesome";
  position: absolute;
  right: 25px;
  font-size: 0.8rem;
}
.search-filter .select .options {
  position: absolute;
  top: 60px;
  left: 0;
  background-color: var(--clr-element);
  width: 100%;
  border-radius: 5px;
}
.search-filter .select .options li {
  height: 30px;
  padding: 20px;
  display: flex;
  align-items: center;
}
.search-filter .select .options li:hover {
  background-color: var(--dm-very-dark-blue);
  color: var(--white);
}

body[data-theme=dark] a {
  box-shadow: 0 0 1px var(--clr-element);
}
body[data-theme=dark] a:hover {
  background-color: var(--lm-very-light-gray);
}
body[data-theme=dark] a:hover .infos * {
  color: var(--dm-very-dark-blue);
}
body[data-theme=dark] a:hover .infos h2::before {
  border-color: black;
}

.countries {
  display: flex;
  flex-wrap: wrap;
  gap: 75px;
}
.countries a {
  display: flex;
  flex-direction: column;
  height: 337px;
  min-width: 265px;
  flex: 1;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 1px var(--dark-grey);
  background-color: var(--clr-element);
  transition: 300ms ease-out;
}
.countries a:hover {
  background-color: var(--dm-very-dark-blue);
}
.countries a:hover .infos * {
  color: var(--white);
}
.countries a:hover .infos h2::before {
  transform: scaleX(1);
  border-color: var(--lm-very-light-gray);
}
.countries a img {
  width: 100%;
  height: 190px;
  object-fit: cover;
}
.countries a .infos {
  padding: 25px 0 0 20px;
}
.countries a .infos h2 {
  position: relative;
  margin-bottom: 15px;
  font-size: 1.1rem;
  font-weight: 800;
  width: fit-content;
}
.countries a .infos h2::before {
  position: absolute;
  content: "";
  inset: 0;
  border-bottom: solid 2px black;
  transform: scaleX(0);
  transition: 300ms;
}
.countries a .infos p {
  font-weight: 600;
}
.countries a .infos p span {
  font-weight: 300;
}

/*# sourceMappingURL=style.css.map */
