:root {
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --very-light-gray: hsl(0, 0%, 95%);
    --transparent-white: hsla(0, 0%, 100%, 0.75);
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body {
    min-height: 100%;
    background-color: var(--very-light-gray);
    font-family: 'Lexend Deca', sans-serif;
    display: flex;
    justify-content: center;
    font-size: 15px;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
}

article {
    width: 325px;
    height: 500px;
    padding-left: 30px;
}

.icon {
    margin-top: 50px;
}

.container-sedans {
    background-color: var(--bright-orange);
    border-radius: 10px 0 0 10px;
}

.container-suvs {
    background-color: var(--dark-cyan);
}

.container-luxury {
    background-color: var(--very-dark-cyan);
    border-radius: 0 10px 10px 0;
}

h1 {
    font-family: 'Big Shoulders Display', cursive;
    color: white;
    font-size: 40px;
    font-weight: 200;
    letter-spacing: normal;
}

p {
    width: 80%;
    color: var(--transparent-white);
}

h3 {
    width: 60%;
    text-align: center;
    color: white;
    font-weight: normal;
    border: 2px solid white;
    border-radius: 30px;
    padding: 10px;
    margin-top: 35%;
}