.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
  padding: 50px 20px;
  width: 100%;

  &--nav {
    flex: 1 0 auto;

    @media screen and (max-width: 560px) {
      display: none;
      position: relative;
      width: 100%;
      background-color: var(--dark-violet);
      padding-block: 30px;
      border-radius: 10px;

      &::before {
        content: "";
        position: absolute;
        left: 20px;
        right: 20px;
        height: 1px;
        top: 195px;
        background-color: var(--grayish-violet);
      }
    }

    &.display {
      display: block;
    }

    &__lists {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;

      @media screen and (max-width: 600px) {
        justify-content: center;
      }

      @media screen and (max-width: 560px) {
        flex-direction: column;
        align-items: center;
      }

      .link {
        font-weight: bold;
        color: var(--gray);

        &:hover {
          color: var(--very-dark-violet);
        }

        @media screen and (max-width: 560px) {
          color: white;
        }
      }

      .blue-hover {
        padding: 10px 25px;

        &:hover {
          background-color: var(--cyan);
          color: white;
          border-radius: 30px;
        }
      }

      .login {
        margin-left: auto;
        position: relative;

        @media screen and (max-width: 560px) {
          margin-top: 20px;
        }
      }

      .signup {
        margin-left: -2rem;

        @media screen and (max-width: 560px) {
          margin-top: -20px;
        }
      }

      .login,
      .signup {
        @media screen and (max-width: 560px) {
          margin-left: 0;
          width: 80%;

          a {
            display: block;
            text-align: center;
          }
        }
      }
    }
  }

  &--mobile-button {
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: auto;
    transform: scale(1.2);

    svg {
      color: var(--gray);
    }
    @media screen and (max-width: 560px) {
      display: block;
    }
  }
}
